.card
  margin-bottom: 18px


  &:hover, .selected
    outline: 10px solid orange

  .selected
    cursor: hand
    cursor: pointer

.room
  height: 200px
  background-color: #008ac3
  margin-bottom: 18px
  color: white
  text-align: right
  
  h2
    padding: 100px 60px

  &:hover
    color: orange
    outline: 10px solid orange


    