doctype 5
html(lang="en")
  head
    meta(charset="utf-8")

    title Game
    
    link(href="/css/main.css", type="text/css", rel="stylesheet", media="screen")
    link(href="/bootstrap/css/bootstrap.css", type="text/css", rel="stylesheet", media="screen")
  body
    .container
      h1 Game
      div.header
      div.main
      div.footer

    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(data-main="js/app/config.js", src="/js/vendor/require.js", type="text/javascript")
